.card {
  border-radius: 28px;
  width: 100%;
  box-shadow: 0 0 25px 0 var(--shadow-quiz);
  padding: 27px 34px;
  font-size: 18px;
  background-color: var(--bg-card);
}

.title {
  font-weight: 600;
  margin-bottom: 12px;
}

.question {
  font-weight: 400;
  margin-bottom: 12px;
}

.button {
  border-radius: 50px;
  background-color: var(--bg-button);
  color: var(--button-text);
  padding-top: 15px;
  padding-bottom: 14px;
  text-align: center;
  border: 1px solid var(--bg-button);
  transition: background-color 500ms var(--main-transition),
    color 500ms var(--main-transition);
}

.button:hover {
  background-color: var(--bg-card);
  color: var(--main-text);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
